WCF-Assignment1/Client/Connected Services/WcfAssignmentService/MainService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MainService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51520/MainService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51520/MainService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51520/MainService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/wcf_assignment1" />
      <xsd:import schemaLocation="http://localhost:51520/MainService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_IsPrimeNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:IsPrimeNumber" />
  </wsdl:message>
  <wsdl:message name="IService_IsPrimeNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsPrimeNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CalculateSumOfDigits_InputMessage">
    <wsdl:part name="parameters" element="tns:CalculateSumOfDigits" />
  </wsdl:message>
  <wsdl:message name="IService_CalculateSumOfDigits_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalculateSumOfDigitsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ReverseString_InputMessage">
    <wsdl:part name="parameters" element="tns:ReverseString" />
  </wsdl:message>
  <wsdl:message name="IService_ReverseString_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReverseStringResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ConvertToHTMLTag_InputMessage">
    <wsdl:part name="parameters" element="tns:ConvertToHTMLTag" />
  </wsdl:message>
  <wsdl:message name="IService_ConvertToHTMLTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConvertToHTMLTagResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SortNumbers_InputMessage">
    <wsdl:part name="parameters" element="tns:SortNumbers" />
  </wsdl:message>
  <wsdl:message name="IService_SortNumbers_OutputMessage">
    <wsdl:part name="parameters" element="tns:SortNumbersResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="IsPrimeNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/IsPrimeNumber" message="tns:IService_IsPrimeNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/IsPrimeNumberResponse" message="tns:IService_IsPrimeNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CalculateSumOfDigits">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CalculateSumOfDigits" message="tns:IService_CalculateSumOfDigits_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CalculateSumOfDigitsResponse" message="tns:IService_CalculateSumOfDigits_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReverseString">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ReverseString" message="tns:IService_ReverseString_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ReverseStringResponse" message="tns:IService_ReverseString_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConvertToHTMLTag">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ConvertToHTMLTag" message="tns:IService_ConvertToHTMLTag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ConvertToHTMLTagResponse" message="tns:IService_ConvertToHTMLTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SortNumbers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SortNumbers" message="tns:IService_SortNumbers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SortNumbersResponse" message="tns:IService_SortNumbers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsPrimeNumber">
      <soap:operation soapAction="http://tempuri.org/IService/IsPrimeNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateSumOfDigits">
      <soap:operation soapAction="http://tempuri.org/IService/CalculateSumOfDigits" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReverseString">
      <soap:operation soapAction="http://tempuri.org/IService/ReverseString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertToHTMLTag">
      <soap:operation soapAction="http://tempuri.org/IService/ConvertToHTMLTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SortNumbers">
      <soap:operation soapAction="http://tempuri.org/IService/SortNumbers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MainService">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:51520/MainService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>